*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Sarabun", sans-serif;
}


body{

    background:#e8f7ff;

    color:#003b66;

    min-height:100vh;

    overflow-x:hidden;

}


/* ======================
   พื้นหลังฝนตก
====================== */

#rain{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    pointer-events:none;

    z-index:-1;

}



/* ======================
        Navbar
====================== */


.navbar{

    width:100%;

    background:#75cfff;

    padding:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);

}


.navbar ul{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:30px;

    list-style:none;

}


.navbar a{

    text-decoration:none;

    color:white;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}


.navbar a:hover,
.navbar .active{

    color:#003b66;

}



/* ======================
        หน้าแรก
====================== */


.hero{

    text-align:center;

    padding:80px 20px;

    animation:show 1.5s ease;

}



.profile-img{

    width:220px;

    height:220px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid white;

    box-shadow:0 10px 25px rgba(0,0,0,.2);

}



.hero h1{

    font-size:45px;

    margin-top:25px;

    color:#0077cc;

}



.hero h2{

    font-size:30px;

    margin:15px;

}



.hero p{

    font-size:20px;

    max-width:600px;

    margin:20px auto;

}



/* ======================
        ปุ่ม
====================== */


.btn{

    display:inline-block;

    margin-top:20px;

    padding:15px 35px;

    background:#2196f3;

    color:white;

    text-decoration:none;

    border-radius:30px;

    font-size:18px;

    transition:.3s;

}



.btn:hover{

    background:#006dcc;

    transform:scale(1.1);

}



/* ======================
       Footer
====================== */


footer{

    text-align:center;

    padding:20px;

    background:#75cfff;

    color:white;

    margin-top:50px;

}



/* ======================
      Animation
====================== */


@keyframes show{

    from{

        opacity:0;

        transform:translateY(50px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }

}



/* ======================
      มือถือ
====================== */


@media(max-width:700px){


.navbar ul{

    flex-direction:column;

    gap:15px;

}



.hero h1{

    font-size:35px;

}



.hero h2{

    font-size:25px;

}



.profile-img{

    width:160px;

    height:160px;

}


}
